name: CI

on:
  pull_request:
    branches:
      - main

  schedule:
    - cron: 0 1 * * 1-5

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Buf
        uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1.3.0
        with:
          setup_only: true

      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          bundler-cache: true

      - name: Generate code
        run: bin/rake generate

      - name: Lint code
        run: bin/rake lint

      - name: Generate docs
        run: bin/rake docs

      - name: Check links
        run: bin/check-links

      - name: Check for uncommitted changes
        run: |-
          if [[ -n $(git status --porcelain) ]]; then
            echo "::error::Uncommitted changes detected"
            git -c color.ui=always status -vv
            exit 1
          fi

  test-matrix:
    name: Generate test matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.test-matrix.outputs.matrix }}
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - id: test-matrix
        name: Generate test matrix
        run: bin/test-matrix
        env:
          GITHUB_TOKEN: ${{ github.token }}
          TEST_CERBOS_HUB: ${{ secrets.CERBOS_HUB_API_ENDPOINT != '' }}

  test-parallel:
    name: Test (${{ matrix.title }})
    runs-on: ubuntu-latest
    continue-on-error: ${{ github.event_name != 'schedule' && endsWith(matrix.cerbos, '-prerelease') }}
    env:
      BUNDLE_WITHOUT: docs
      CERBOS_VERSION: ${{ matrix.cerbos }}
      TEST_MATRIX_DEPENDENCY_NAME: ${{ matrix.dependency_name }}
      TEST_MATRIX_DEPENDENCY_VERSION: ${{ matrix.dependency_version }}
    needs:
      - test-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.test-matrix.outputs.matrix).parallel }}
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Update Gemfile.lock
        if: ${{ matrix.dependency_name }}
        run: bin/bundle lock --update ${{ matrix.dependency_name }}

      - name: Install gems
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: List installed gems
        run: bin/bundle list

      - name: Set up tests
        if: matrix.setup
        run: ${{ matrix.setup }}

      - name: Run tests
        run: ${{ matrix.test }}

  test-serial:
    if: fromJSON(needs.test-matrix.outputs.matrix).serial.enabled
    name: Test (${{ matrix.title }})
    runs-on: ubuntu-latest
    env:
      BUNDLE_WITHOUT: docs
      CERBOS_HUB_API_ENDPOINT: ${{ secrets.CERBOS_HUB_API_ENDPOINT }}
      CERBOS_HUB_STORE_ID: ${{ secrets.CERBOS_HUB_STORE_ID }}
      CERBOS_HUB_STORES_CLIENT_ID: ${{ secrets.CERBOS_HUB_STORES_CLIENT_ID }}
      CERBOS_HUB_STORES_CLIENT_SECRET: ${{ secrets.CERBOS_HUB_STORES_CLIENT_SECRET }}
      TEST_MATRIX_DEPENDENCY_NAME: ${{ matrix.dependency_name }}
      TEST_MATRIX_DEPENDENCY_VERSION: ${{ matrix.dependency_version }}
    needs:
      - test-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.test-matrix.outputs.matrix).serial.matrix }}
      max-parallel: 1
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Update Gemfile.lock
        if: ${{ matrix.dependency_name }}
        run: bin/bundle lock --update ${{ matrix.dependency_name }}

      - name: Install gems
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: List installed gems
        run: bin/bundle list

      - name: Set up tests
        if: matrix.setup
        run: ${{ matrix.setup }}

      - name: Run tests
        run: ${{ matrix.test }}

  test-results:
    name: Check test results
    runs-on: ubuntu-latest
    if: always()
    needs:
      - test-parallel
      - test-serial
    steps:
      - name: Check test results
        run: |-
          test "${{ needs.test-parallel.result }}" = "success"
          test "${{ needs.test-serial.result }}" = "success" || test "${{ needs.test-serial.result }}" = "skipped"
